<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css.map">
    <link rel="stylesheet" type="text/css" href="../src/css/index.css">
    <script src="../lib/js/bootstrap.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <script src="../lib/js/npm.js"></script>
    <script src="../src/javascript/new.js"></script>
    <script src="../src/javascript/slider-index.js"></script>
</head>
<body>
<div class="hero-image">
    <!-- <img src="https://images2.imgbox.com/24/1c/FsJ4AwKi_o.jpg" alt=""> -->
    <div class="portfolio">
        <h2 class="portfolio-title"><span class="portfolio-title--small">Hi there, I'm</span> Esther Itolima
            <hr>
        </h2>
        <p class="portfolio-intro">A frontend web developer with great passion for tech and fascinated <br> to solve real world problem with software.</p>
    </div>
    <nav id="navbar" class="not-fixed navbar-header">
        <ul>
            <li><a href="#follow-me">Follow me</a></li>
            <li><a href="#contact-me">Contact me</a></li>
            <li><a href="#concepts">Concepts</a></li>
            <li><a href="#about-me">About Me</a></li>
        </ul>
    </nav>
</div>

</body>
</html>